%h2 File Groups

%div
  = small_primary_button('Add File Group', new_file_group_path(collection_id: @collection.id))
= render 'storage_level_filter'

- if @collection.file_groups.present?
  = render layout: 'layouts/standard_table', locals: {id: :file_groups, headers: ['Id', 'Name', 'Storage Level', 'Created', 'Producer', 'Total files', 'Total file size (GB)', 'Related File Groups', '']} do
    = render partial: 'file_groups_table_row', collection: @collection.file_groups.includes(:producer, :source_file_groups, :target_file_groups).order(:created_at), as: :file_group

%div#event_form
