-# must pass f, the containing form
= f.input :private_description, label: 'Internal collection description (suppressed from public view)'
= f.input :contact_email, label: 'Contact email (for internal use on this collection only)', type: :email
= f.input :notes