- @collection_sizes = collection_size_hash
= render layout: 'layouts/standard_table', locals: {id: :collections, headers: ['External&nbsp;ID', 'Title', 'Repository', 'Contact', 'GB', 'Ingest&nbsp;Need', '']} do
  = render partial: 'collections/index_table_row', collection: @collections, as: :collection
