//Modal
.modal.hide.fade#newObjectTypeModal{:tabindex => '-1', :role => 'dialog', 'aria-labelledby' => 'modalLabel', 'aria-hidden' => 'true'}
  = simple_form_for ObjectType.new, :url => new_object_type_collections_path(:format => :json), :html => {:method => :post, :class => 'form-search'}, :remote => true  do |f|
    .modal-header
      %button{:type => "button", :class => "close", 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}
        ×
      %h3#modalLabel Add new object type
    .modal-body
      = f.input :name, :input_html => {:placeholder => 'New type'}
      = f.input :collection_id, :as => :hidden, :input_html => {:value => @collection.id}
    .modal-footer
      %button{:class => 'btn', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} Close
      = f.button :submit
