%p
  Metadata below will be made public in the digital library's list of collections
  (#{link_to('https://digital.library.illinois.edu/collections', 'https://digital.library.illinois.edu/collections')})
  if set to "open".
