= render partial: 'shared/tab_header', locals: {id: 'tab-headers', tabs: ['about', 'file-manager'], active_index: 1}
.tab-content
  #about.tab-pane
    = render 'show_about_tab'
  #file-manager.tab-pane.active
    = render 'file_groups_table'
