- ingest_status = @collection.ingest_status
%h3 Ingest status
= show_field ingest_status, :state, 'Ingest State'
= show_value net_id_search_links(@collection.ingest_status.staff), 'Staff'
= show_field ingest_status, :date
= show_field ingest_status, :notes
