-#Must pass form variable
.col-sm-3
  %div
    %p= form.button :submit, class: 'btn btn-primary'
  %div
    %p= link_to t('.cancel', default: t('helpers.links.cancel')), collections_path, class: 'btn btn-default'
