-#Must pass form variable
.span3
  %div
    %p= form.button :submit, :class => 'btn-primary'
  %div
    %p= link_to t('.cancel', :default => t('helpers.links.cancel')), collections_path, :class => 'btn'
