.span3.affix-sidebar
  %ul.nav.nav-list.affix-sidenav{'data-spy' => 'affix', 'data-offset-top' => '60'}
    %li
      %a{:href => '#required'}
        %i.icon-chevron-right
        Required Information
    %li
      %a{:href => '#about'}
        %i.icon-chevron-right
        About this Collection
    %li
      %a{:href => '#content'}
        %i.icon-chevron-right
        About the content
    %li
      %a{:href => '#rights'}
        %i.icon-chevron-right
        Rights Information
    %li
      %a{:href => '#notes'}
        %i.icon-chevron-right
        Notes
