%div
  Show Storage Level:
  = link_to_function('All', 'storage_level_filter.all()')
  |
  = link_to_function('External', 'storage_level_filter.external()')
  |
  = link_to_function('Bit Level', 'storage_level_filter.bit_level()')
  |
  = link_to_function('Object Level', 'storage_level_filter.object_level()')
