%div
  Show Storage Level:
  = link_to 'All', '#', onclick: 'storage_level_filter.all(); return false;'
  |
  = link_to 'External', '#', onclick: 'storage_level_filter.external(); return false;'
  |
  = link_to 'Bit Level', '#', onclick: 'storage_level_filter.bit_level(); return false;'
