table.mbt-item-counts {
  th, td {
    border:0px;
    padding: 0.2em 0.4em 0.2em 0.4em;
    text-align: center;
  }
  td {
    font-weight: 200;
  }
  th:first-child {
    background:#606060;
    color:white;
    font-size: 3em;
    font-weight: 100;
    vertical-align: middle;
  }
}
