.span3
  %div
    %p= f.button :submit, :class => 'btn-primary'
  %div
    %p
      - if @assessment.new_record?
        = link_to_assessable(@assessable)
      - else
        = link_to(t('.cancel', :default => t('helpers.links.cancel')), @assessment, :class => 'btn')
