- model_class = Assessment
.page-header
  %h1
    %span.glyphicon.glyphicon-pencil
    =t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}")

= render 'form'