%h3 Glacier Backups

= simple_form_for :file_group, url: bulk_amazon_backup_bit_level_file_groups_path, method: :post do |f|
  %div
    = render 'shared/amazon_backup_table'

  %br

  %div
    = submit_button(f, value: 'Create Backups', class: 'pull-right')

