
%h3 Events

= link_to('View all events', events_path, class: 'btn btn-default pull-right')

.tabbable
  = render partial: 'shared/tab_header', locals: {id: 'tab-headers', tabs: [['events-tab', 'Events'], ['scheduled-events-tab', 'Scheduled Events']], active_index: 0}
  .tab-content
    #events-tab.tab-pane.active
      = render 'events/index'
    #scheduled-events-tab.tab-pane
      = render 'scheduled_events/index'
