%h3 Events

= link_to('View all events', events_path, class: 'btn btn-default pull-right')

%p
  Events from the past week and all uncompleted scheduled events are shown.

%div
  = render 'events/index'
