.col-sm-6
  %h3
    File Statistics
  %p
    Some statistics are cached and may be slightly out of date.
  .col-sm-6
    .pull-right
      = link_to 'CSV', file_stats_dashboard_path(format: :csv), class: 'btn btn-default'
