.row
  .span3
    %h4.text-center DX-Storage
    %table.container
      %thead
        %tr
          %th
            state
          %th
            size(GB)
      %tbody
        %tr
          %td
            Bit level store(ingested)
          %td.value
            = @storage["bit_level_ingested"]
        %tr
          %td
            Bit level store(total)
          %td.value
            = @storage["bit_level_total"]
        %tr
          %td
            Object level store
          %td.value
            = @storage["object_level_total"]
        %tr
          %td
            Free space
          %td.value
            = @storage["free"]
  .span3
    %div#chart_container1.chart_container
  .span3
    %h4.text-center Other Storage Target
    %table.container
      %thead
        %tr
          %th
            state
          %th
            size(GB)
      %tbody
        %tr
          %td
            Bit level store(ingested)
          %td.value
            TBD
        %tr
          %td
            Bit level store(total)
          %td.value
            TBD
        %tr
          %td
            Object level store
          %td.value
            TBD
        %tr
          %td
            Free space
          %td.value
            TBD
  .span3
    %div#chart_container2.chart_container
