.row
  .span3
    %h4 DX-Storage
    %table
      %thead
        %tr
          %th
            state
          %th
            size(GB)
      %tbody
        %tr
          %td
            Bit level store(ingested)
          %td{:align => 'right'}
            = @storage["bit_level_ingested"]
        %tr
          %td
            Bit level store(total)
          %td{:align => 'right'}
            = @storage["bit_level_total"]
        %tr
          %td
            Object level store
          %td{:align => 'right'}
            = @storage["object_level_total"]
        %tr
          %td
            Free space
          %td{:align => 'right'}
            = @storage["free"]
  .span3
    %div{:id=>'chart_container1', :class=>'chart_container', :style=>'min-width: 200px; height: 200px; margin: 0 auto'}
  .span3
    %h4 Other Storage Target
    %table
      %thead
        %tr
          %th
            state
          %th
            size(GB)
      %tbody
        %tr
          %td
            Bit level store(ingested)
          %td{:align => 'right'}
            TBD
        %tr
          %td
            Bit level store(total)
          %td{:align => 'right'}
            TBD
        %tr
          %td
            Object level store
          %td{:align => 'right'}
            TBD
        %tr
          %td
            Free space
          %td{:align => 'right'}
            TBD
  .span3
    %div{:id=>'chart_container2', :class=>'chart_container', :style=>'min-width: 200px; height: 200px; margin: 0 auto'}
