= simple_form_for @static_page, url: static_page_path(key: @static_page.key), html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  .form-actions
    = f.button :submit, 'Update', class: 'btn btn-primary'
    = link_to 'Cancel', static_page_path(key: @static_page.key), class: 'btn btn-default'
  = f.input :page_text, input_html: {class: 'rich-editor'}
