.row.vertical-align
  .col-md-4
    = render layout: 'layouts/page_header' do
      File Format Tests
  .col-md-8
    .btn-group.pull-right
      .btn-group
        %a.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
          Export
          %span.caret
        %ul.dropdown-menu
          %li= link_to 'CSV', file_format_tests_path(format: 'csv')

= render 'index_table'

