- if @attachable.attachments.includes(:author).present?
  = render 'layouts/standard_table', id: :file_format_attachments, headers: ['Filename', 'Description', 'Content Type', 'Author', ''] do
    = render partial: 'attachments/table_row', collection: @attachable.attachments, as: :attachment
