.panel.panel-default
  .panel-heading
    %h4 Rendering Profiles:
  - if @file_format.file_format_profiles.present?
    %table#file_format_profiles.table.table-striped
      = render 'file_format_profiles/index_table_header'
      %tbody
        = render partial: 'file_format_profiles/index_table_row', collection: @file_format.file_format_profiles, as: :file_format_profile
  - else
    .panel-body None
