#file_format_pronoms.panel.panel-default
  .panel-heading
    .pull-right
      = link_to 'Add', new_file_format_pronom_path(@file_format), class: 'btn btn-xs btn-default', remote: true, title: 'Create Pronom', role: :button
    %h4 Pronoms
  .panel-body
    = render 'pronoms/table'
