#file_format_attachments.panel.panel-default
  .panel-heading
    .pull-right
      = small_default_button('Add', new_attachment_path(attachable_id: @file_format.id, attachable_type: 'FileFormat'), title: 'Add Attachment')
    %h4 Attachments
  .panel-body
    = render 'attachments_table'
