#file_format_normalization_paths.panel.panel-default
  .panel-heading
    .pull-right
      = link_to 'Add', new_file_format_normalization_path_path(@file_format), class: 'btn btn-xs btn-default', remote: true, title: 'Add Normalization Path', role: :button
    %h4 Normalization Paths
  .panel-body
    = render 'file_format_normalization_paths/table'