.row.vertical-align
  .col-md-4
    = render layout: 'layouts/page_header' do
      Content Types
  .col-md-8
    .btn-toolbar.pull-right
      - path = random_cfs_file_content_type_path(@content_type, repository_id: params[:repository_id], virtual_repository_id: params[:virtual_repository_id], collection_id: params[:collection_id])
      = link_to fa_icon('random'), path, class: 'btn btn-default', title: 'Random File', role: :button
.row
  = render 'cfs_files/table'
  = will_paginate @cfs_files, renderer: BootstrapPagination::Rails, params: {repository_id: @repository_id, virtual_repository_id: @virtual_repository_id, collection_id: @collection_id}