= simple_form_for @access_system, :html => {:class => 'form-horizontal'}, :wrapper => :horizontal_form do |f|
  .row
    = render :partial => 'sidebar', :locals => {:f => f}
    .col-sm-9
      = f.input :name
