= render layout: 'layout_single' do
  .row
    .col-sm-8
      = show_field @access_system, :name
      = show_field @access_system, :service_owner
      = show_field @access_system, :application_manager
