%h2 Collections
= link_to 'Add Collection', new_collection_path(:repository_id => @repository.id), :class => 'btn btn-primary btn-mini'

%div
  %table.table.table-striped#collections
    %thead
      %tr
        %th Title
        %th
    %tbody
      - @repository.collections.each do |collection|
        %tr
          %td #{link_to collection.title, collection}
          %td
            = link_to 'Edit', edit_collection_path(collection), :class => 'btn btn-mini'
            = link_to 'Delete', collection, :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'This is irreversible - are you sure?')), :class => 'btn btn-mini btn-danger'
