- cache(@repository) do
  - load_repository_dashboard_file_stats
  .row
    = render 'file_stats_header'
  .row
    .col-sm-6
      = render 'file_stats_content_type'
    .col-sm-6
      = render 'file_stats_file_extenstion'
