%h2
  Virtual Repositories

%div
  = render 'layouts/standard_table', id: :virtual_repositories, headers: %w(Title) do
    - @repository.virtual_repositories.each do |virtual_repository|
      %tr
        %td= link_to(virtual_repository.title, virtual_repository)
