%h2
  Virtual Repositories

%div
  = render layout: 'layouts/standard_table', locals: {id: :virtual_repositories, headers: %w(Title)} do
    - @repository.virtual_repositories.each do |virtual_repository|
      - cache(virtual_repository) do
        %tr
          %td= link_to(virtual_repository.title, virtual_repository)
