- model_class = Repository
.page-header
  %h1
    %i.icon-pencil
    =t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}")

.span3
  = render 'shared/definitions/repository'

.span9
  = render "form"
