-# must pass in title
%h4 #{title}
-# must pass url to which to submit form
= simple_form_for @accrual_job, url: url, method: :post, remote: true do |f|
  = f.input :comment, as: :text
  = f.button :submit, 'Submit', class: 'btn btn-primary'
  %button{type: :button, class: 'btn btn-default', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} Cancel
