= render layout: 'layouts/standard_table', locals: {id: :normalization_paths, headers: ['Name', 'Output Format', 'Software', 'Operating System', '']} do
  = render partial: 'file_format_normalization_paths/table_row', collection: @file_format.file_format_normalization_paths, as: :normalization_path
