- if @accrual.at_root?
  %div
    %h5 Roots:
    %ul.list-group
      - Accrual.available_root_names.sort_by {|name| name.downcase}.each do |root_name|
        %li.list-group-item= link_to root_name, @accrual.child_display_path(root_name), remote: true
- else
  %div
    %h5 Directories:
    %div
      = @accrual.directory_checkboxes
  %div
    %h5 Files:
    %div
      = @accrual.file_checkboxes

