- if @accrual.at_root?
  %div
    %h5 Roots:
    %ul.list-group
      - StagingStorage.instance.roots.each do |root|
        %li.list-group-item= link_to root.name, @accrual.child_display_path(root.name), remote: true
- else
  %div
    %h5 Directories:
    %div
      = @accrual.directory_checkboxes
  %div
    %h5 Files:
    %div
      = @accrual.file_checkboxes

