- if @accrual.at_root?
  %ul
    - StagingStorage.instance.roots.each do |root|
      %li= link_to root.name, @accrual.child_display_path(root.name), remote: true
- else
  %p= @accrual.staging_path
  %p
    Directories:
    %ul
      - @accrual.directories.each do |directory|
        %li= link_to(directory, @accrual.child_display_path(directory), remote: true)
  %p
    Files:
    %ul
      - @accrual.files.each do |file|
        %li= file