- if @accrual.at_root?
  %ul
    - StagingStorage.instance.roots.each do |root|
      %li= link_to root.name, @accrual.child_display_path(root.name), remote: true
- else
  %p= @accrual.staging_path
  %p
    Directories:
    = collection_check_boxes(:accrual, :accrual_directories, @accrual.directories, :itself, Proc.new {|directory| link_to(directory, @accrual.child_display_path(directory), remote: true)})
  %p
    Files:
    = collection_check_boxes(:accrual, :accrual_files, @accrual.files, :itself, :itself)
