- if @accrual.at_root?
  %div
    Roots:
    %ul
      - StagingStorage.instance.roots.each do |root|
        %li= link_to root.name, @accrual.child_display_path(root.name), remote: true
- else
  %div
    Directories:
    %div
      = @accrual.directory_checkboxes
  %div
    Files:
    %div
      = @accrual.file_checkboxes

