- if @files_helper.full_count > 0
  %table.table.table-striped#directory_files
    %thead
      %tr
        - @files_helper.headers.each do |header|
          %th= header
  = render partial: 'shared/search_datatable_init', locals: {selector: '#directory_files', search_helper: @files_helper}
- else
  %p
    No files