%h1 Export Directory Tree

%p= link_to 'Return to directory', cfs_directory_path(@directory)

%p
  - if @files_present
    Your directory has been scheduled for export. You will be notified by email when the export is complete.
  - else
    There are no files in your requested export.