%h1 Export Directory Tree

%p= link_to 'Return to directory', cfs_directory_path(@directory)

%p
  Your directory tree has been scheduled for export. You will be notified by email when the export is complete.