- content_for :public_body do
  = render 'public_files'
- content_for :public_metadata do
  = render 'collections/public_metadata'
  %hr
  = render 'file_groups/public_metadata'
= render 'shared/public_body'
