:plain

  Your download for the directory:

  #{@request.cfs_directory.relative_path}

  is ready. This link should be available for at least 14 days.

  It is available at:

  #{@response['download_url']}

  *** OS X Users ***

  For large (more than 4GB or more than about 65000 files) downloads certain zip software will have trouble
  unzipping your download. In particular, the default Mac OS X tools can be problematic. 7Zip and The Unarchiver
  are free replacements that will be able to handle these downloads.

  *** Windows 7 and below users ***

  For some large downloads Windows Explorer will have trouble unzipping your download. 7Zip is a free replacement
  that will be able to handle these downloads.


