= render layout: 'layouts/standard_table', locals: {id: :pronoms, headers: ['Pronom ID', 'Version', '']} do
  = render partial: 'pronoms/table_row', collection: @file_format.pronoms.decorate, as: :pronom
