- if @created
  $("#file_format_pronoms .panel-body tbody").append("#{escape_javascript(render('table_row', pronom: @pronom))}");
  $("#file_format_metadata").replaceWith("#{escape_javascript(render('file_formats/metadata', file_format: @pronom.file_format))}");
- else
  alert("Error creating Pronom!");
