- if @updated
  $("#pronom_#{@pronom.id}").replaceWith("#{escape_javascript(render(partial: 'table_row', locals: {pronom: @pronom}))}");
  $("#file_format_metadata").replaceWith("#{escape_javascript(render(partial: 'file_formats/metadata', locals: {file_format: @pronom.file_format}))}");
- else
  alert("Error updating Normalization Path!");
