%p
  Some fixity errors have been found:

%p
  There are #{CfsFile.bad_fixity.count} files with fixity status 'bad'.

%p
  There are #{CfsFile.not_found_fixity.count} files with fixity status 'nf' (not found).