<footer class='library-footer hidden-xs' role='contentinfo'>
  <div class='row footer-info'>
    <h2 class='sr-only'>library website footer information</h2>
    <p class='repository-footer-info'>
      The Illinois Data Bank is a product of the <a href='http://researchdataservice.illinois.edu/'>Research Data Service</a> at the University Library.
      <a href='/policies' target='_blank'>See our Access and Use Policy</a>.
      <a href='/help#contact' target='_blank'>Contact us</a> for questions and to provide feedback.
    </p>
  </div>
  <div class='row lg-copyright-footer'>
    <div aria-label='university library copyright info' class='col-md-12 copyright-footer'>
      <p>
        <a href="http://illinois.edu" aria-label="University of Illinois website link">
          <%= image_tag('illinois_wordmark_footer.png', alt: "University of Illinois Logo") %>
        </a>
      </p>
      © 2014 University of Illinois Board of Trustees
    </div>
  </div>
</footer>
