%header.library-header.img-responsive.hidden-xs
  %h1.sr-only University Library, University of Illinois at Urbana-Champaign
  .container-fluid
    %a{href: "http://www.library.illinois.edu", target: "_blank"}
      #wordmark
        = image_tag('imark.svg', class: 'img-responsive banner-image-imark', alt: "Univeristy of Illinois I-Mark")
        = image_tag('university_libraries_wordmark.png', class: 'img-responsive banner-image-library',  alt: "University Library, University of Illinois at Urbana-Champaign")