%header.library-header.img-responsive.hidden-xs
  %h1.sr-only University Library, University of Illinois at Urbana-Champaign
  .container-fluid
    %a(href="http://www.library.illinois.edu" target="_blank" )
      = image_tag("library_wordmark_horizontal.png", class: "img-responsive banner-image-library")
