-# must pass id = id of div to toggle
%button.navbar-toggle{type: :button, 'data-target': id, 'data-toggle': 'collapse'}
  %span.sr-only Toggle navigation
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
