-# must pass title and either icon or text
%button.btn.btn-default.btn-xs.dropdown-toggle{'data-toggle': :dropdown, 'aria-expanded': false, title: title, value: title, type: :button}
  - if defined?(icon)
    = fa_icon(icon)
  - if defined?(text)
    = text
  %span.caret
