-# must pass icon and title
%button.btn.btn-default.btn-xs.dropdown-toggle{'data-toggle': :dropdown, 'aria-expanded': false, title: title, value: title, type: :button}
  = fa_icon(icon)
  %span.caret
