- cache(@attachable) do

  .row
    .pull-left
      = small_add_button(new_attachment_path(attachable_id: @attachable.id, attachable_type: @attachable.class.name), class: 'btn btn-primary btn-xs pull-right', title: 'Add Attachment')

  .row
    - if @attachable.attachments.includes(:author).present?
      = render layout: 'layouts/standard_table', locals: {id: :attachments, headers: ['Filename', 'Description', 'Content Type', 'Author', '']} do
        = render partial: 'attachments/table_row', collection: @attachable.attachments, as: :attachment
