.panel.panel-default
  .panel-heading
    %h4 File Extensions:
  - if @file_format_profile.file_extensions.present?
    %ul.list-group
      - @file_format_profile.file_extensions.order(:extension).each do |extension|
        %li.list-group-item= extension.extension_label
  - else
    .panel-body None