= render 'layout_single' do
  .row
    .col-xs-12
      .well
        = render 'show_metadata'
  .row
    .col-xs-4
      = render 'show_content_types'
    .col-xs-4
      = render 'show_file_extensions'
