- if @items.any?
  %table.table.table-striped
    %thead
      %tr
        %th Bib ID
        %th Object ID
        %th Title
        %th Author
        %th Volume
        %th Date
        %th HathiTrust
        %th Internet Archive
        %th Corporate Partners
    %tbody
      = render partial: 'item_rows', locals: { next_page_url: @next_page_url }
