=# must pass rights_declaration
#rights-declaration
  = show_field rights_declaration, :rights_basis, 'Rights Basis'
  = show_field rights_declaration, :copyright_jurisdiction_text, 'Copyright Jurisdicition'
  = show_field rights_declaration, :copyright_statement_text, 'Copyright Statement'
  = show_field rights_declaration, :access_restrictions_text, 'Access Restrictions'