%p
  There has been a problem with your import of items into the project '#{@project.title}' from the file '#{@file_name}'.

  Medusa admins are looking into the problem.

%p
  Error details:
  = @exception.to_s