%p These statistics are generated daily and hence may be slightly out of date.
= render partial: 'timeline/timeline_stats', locals: {all_monthly_stats: @all_monthly_stats,
monthly_stats: @monthly_stats,
yearly_stats: @yearly_stats}
