%h3 Yearly
= render layout: 'layouts/standard_table', locals: {id: :yearly_timeline, headers: ['Period', 'Count', 'Size']} do
  = render partial: 'table_row', collection: @yearly_stats, as: :info

%hr

%h3 Monthly (Past year)
= render layout: 'layouts/standard_table', locals: {id: :monthly_timeline, headers: ['Period', 'Count', 'Size']} do
  = render partial: 'table_row', collection: @monthly_stats, as: :info
  