%div
  Collection: #{link_to @collection.title, @collection}
%div
  File Group: #{link_to @file_group.name, @file_group}

- other_scans = @file_group.virus_scans.order('created_at desc').load - [@virus_scan]
- if other_scans.present?
  %div
    Other scans:
    = other_scans.collect {|scan| link_to scan.created_at.to_date.to_s, virus_scan_path(scan)}.join(' | ').html_safe

%pre
  = @virus_scan.scan_result