%h4 Unsafe character report
- if @unsafe_path_strings.count.positive?
  %p
    You have the following file paths with unsafe characters.
  %ul
    - @unsafe_path_strings.each do |path_string|
      %li= path_string
- else
  %p
    There were no unsafe characters in the paths and I don't know why you are being sent this.