%h3 OS X Users
%p
  For large (more than 4GB or more than about 65000 files) downloads certain zip software will have trouble
  unzipping your download. In particular, the default Mac OS X tools can be problematic. 7Zip and The Unarchiver
  are free replacements that will be able to handle these downloads. The Unarchiver is available through the App Store
  and integrates with the Finder. 7Zip is available through the p7zip package in Homebrew or Macports and provides
  the '7z' command line program for zip operations.

%h3 Windows 7 and below users
%p
  For some large downloads Windows Explorer will have trouble unzipping your download. 7Zip is a free replacement
  that will be able to handle these downloads.