%h3 All users
%p
  We have experienced some problems when the total number of files in a particular download is large enough
  (around 40000 or so). The symptom is that you will begin your download, it will pause for a little while, and
  then it will die before actually downloading content. Unfortunately the problem here is in some of the third
  party software that we use and it may be a while before we can correct it. If you need to acquire a set of files
  of this size, please contact the Medusa admins and we'll try to make other arrangements. Note that this issue
  is strictly a problem with the number of files - the actual byte size of the content does not matter.

%h3 OS X Users
%p
  For large (more than 4GB or more than about 65000 files) downloads certain zip software will have trouble
  unzipping your download. In particular, the default Mac OS X tools can be problematic. 7Zip and The Unarchiver
  are free replacements that will be able to handle these downloads. The Unarchiver is available through the App Store
  and integrates with the Finder. 7Zip is available through the p7zip package in Homebrew or Macports and provides
  the '7z' command line program for zip operations.

%h3 Windows 7 and below users
%p
  For some large downloads Windows Explorer will have trouble unzipping your download. 7Zip is a free replacement
  that will be able to handle these downloads.

