%p
  Your download for the directory:

  #{@cfs_directory.relative_path}

  is ready. This link should be valid for at least 14 days.

= render partial: 'download_link'

= render partial: 'zip_disclaimer'
