%div
  Your download for the files:

    = render partial: 'file_list_file_list'

  is ready. This link should be valid for at least 14 days. If this download contains a large number of files
  (more than around 40000) please see below.

= render partial: 'download_link'

= render partial: 'zip_disclaimer'
