#directory-picker.modal{role: 'dialog', 'aria-label': 'Directory picker', 'aria-hidden': 'true', class: maybe_fade}
  - content_for(:modal_header) do
    %a.close{href: '#', role: :button, 'data-dismiss': :modal, 'aria-label': :Close}
    %span{'aria-hidden': 'true'}
      &times;
    %h4.modal-title Ingest Directory Picker
  - content_for(:modal_footer) do
    %a.btn.btn-default{href: '#', role: :button, 'data-dismiss': :modal, role: :button} Close
  = render 'shared/modal_dialog' do
    #{react_component('ProjectDirectoryPicker', data: @ingest_directory_info)}
