%a.btn.btn-default#check_all{href: '#items', 'data-toggle': 'checkboxes', 'data-action': 'check', role: :button}
  = fa_icon 'check-square-o', text: 'All'
%a.btn.btn-default#uncheck_all{href: '#items', 'data-toggle': 'checkboxes', 'data-action': 'uncheck', role: :button}
  = fa_icon 'square-o', text: 'All'
%a.btn.btn-default#bibids-to-clipboard-btn{href: '#', role: :button}
  = fa_icon 'clipboard', text: 'Bibids'
