.row.vertical-align
  .col-md-4
    = render 'layouts/page_header' do
      Projects
  .col-md-8
    .btn-group.pull-right
      .btn-group
        = render 'shared/dropdown_toggle', title: :Export, text: :Export
        %ul.dropdown-menu
          %li= link_to 'CSV', projects_path(format: 'csv')

.row
  = render 'index_table'
