.row
  %p
    Attach a file containing items to be uploaded. This file must be a UTF-16 encoded, tab-separated file with approved
    headers and one item per row. Such a file may be obtained from Excel via File -> Save As... -> choose UTF-16 Unicode
    Text from the format dropdown.

    Medusa will process the import in the background and email you with the results of the import.

.row
  = simple_form_for :upload_items, html: {multipart: true, class: 'form-horizontal'}, url: upload_items_project_path(@project)  do |f|
    = f.input :items, as: :file, label: 'Items file', required: false
    = f.button :submit, class: 'btn btn-primary', value: "Upload"