:plain

  #{@workflow.requester.email} has requested
  deletion of the file group "#{@workflow.file_group.title}"
  from the collection "#{@workflow.collection.title}".

  Reason: #{@workflow.requester_reason}

  Visit the medusa dashboard to approve or reject.