%p
  The deletion of the file group "#{@workflow.cached_file_group_title}"
  from the collection "#{@workflow.file_group.collection.title}"
  has been approved by #{@workflow.approver_email}.

%p
  The content will be deleted, but a backup will be retained for a short time.
  You will be notified again when the backup is deleted.
