:plain

  The deletion of the file group "#{@workflow.file_group.title}"
  from the collection "#{@workflow.collection.title}"
  has been rejected by #{@workflow.approver_email}.

  Reason: #{@workflow.approver_reason}