development:
  #All hosts for the DX. We need to know to send auth information to whichever we get
  hosts:
    - libstor.grainger.illinois.edu
    - 172.22.70.49
    - 172.22.70.50
    - 172.22.70.51
    - 172.22.70.52
    - 172.22.70.53
    - 172.22.70.54
    - 172.22.71.49
    - 172.22.71.50
    - 172.22.71.51
    - 172.22.71.52
    - 172.22.71.53
    - 172.22.71.54
  #The "main" host for the DX where we'll initiate interactions
  entry_host: libstor.grainger.illinois.edu
  #user and password
  user: username
  password: userpassword
  #if not using the default DX domain then supply one here
  domain: medusa.grainger.illinois.edu
  #bucket for the objects to live in
  bucket: test
  #if true, add lifepoint headers in order to assure deletion of test/development content after set period (2 weeks)
  #This may become more sophisticated in the future
  use_test_headers: true
  #if present used to set a Castor-Authorization header on ingest
  object_auth_realm: medusa.grainger.illinois.edu/bucket