development:
  user: fedoraAdmin
  password: fedoraAdmin
  url: http://localhost:18983/fedora
  timeout: -1
  open_timeout: 120
test: &TEST
  user: fedoraAdmin
  password: fedoraAdmin
  url: http://localhost:28983/fedora
  timeout: -1
  open_timeout: 120
