production:
  host: medusatest.library.illinois.edu
  uid_field: eppn
  extra_fields:
    - eppn
    - givenName
    - mail
    - org_dn
    - sn
    - telephoneNumber
    - uid
    - entitlement
    - unscoped_affiliation
  request_type: header
  info_fields:
    email: mail