#landing-information
  %p
    The Medusa digital preservation repository provides an enduring storage and management
    environment for digital content at the University of Illinois at Urbana-Champaign Library.
    Medusa's infrastructure is based on the Open Archival Information System reference model,
    an international standard for establishing effective systems and services around
    the preservation of information for a designated community of users.
    Its policies and underlying technological architecture are being designed in keeping
    with the model of a Trustworthy Digital Repository, a comprehensive approach to providing
    the organizational infrastructure, digital object management, and risk management measures
    necessary for the successful stewardship of digital collections over time.

  %p
    Access to Medusa is restricted to digital content producers at the University of Illinois
    Library.  However, documentation of local digital preservation policies and practices are
    available on the library's
    #{link_to 'digital preservation wiki', 'https://wiki.cites.uiuc.edu/wiki/display/LibraryDigitalPreservation/Home', :target => '_blank'}.
