:plain
  There was a problem doing an ingest of items for the project #{@workflow.project.title}:

  The target cfs directory either does not exist or belongs to the wrong collection.

  The ingest will be cancelled.