%h1 Search

%p The <kbd>*</kbd> character may be used as a wildcard for searching. Searches are case-insensitive.

%h3 Files by filename
= simple_form_for :search, :url => filename_searches_path, :html => {id: 'filename_search', class: 'form-inline'}, :method => :post do |f|
  = f.input :filename, :label => 'File name', required: false
  = f.button :submit, :class => 'btn btn-primary', :value => 'Search filenames'