- @helpers.each do |helper|
  %table.table.table-striped{id: helper.table_id}
    %thead
      %tr
        - helper.headers.each do |header|
          %th= header
  :javascript
    $(document).ready(function() {
      $("##{helper.table_id}").DataTable({
        "processing": true,
        "serverSide": true,
        "pageLength": 25,
        "order" : [[0, 'asc']],
        "search": {
          "search": "#{helper.initial_search_string}"
        },
        "ajax": {
          "url": "#{helper.url}"
        }
      })
    });