-# must pass the form as f
= f.input :title, required: true
= f.input :description
= f.input :access_url, label: 'Access Url'
= f.association :resource_types, as: :check_boxes, wrapper_html: {id: 'resource_types'}, wrapper: :horizontal_radio_and_checkboxes
