=# require form to be passed as f
- fields = [:naming_conventions, :file_hierarchy, :file_types, :origin, :misc_notes]
%h3 Group package summary
%fieldset#package-summary
  #package-summary-tabs
    %ul.nav.nav-tabs
      - fields.each_with_index do |field, i|
        %li
          %a{:href => "#package-summary-tab-#{i}", :"data-toggle" => 'tab', :class => [(i == 0) && 'active']} #{field.to_s.humanize}
    .tab-content
      - fields.each_with_index do |field, i|
        %div{:id => "package-summary-tab-#{i}", :class => ['tab-pane', (i == 0) && 'active']}
          = f.input field
