- if @file_group.is_a?(BitLevelFileGroup) and @file_group.cfs_directory.present?
  %div
    = link_to "CFS Root: #{@file_group.cfs_directory.path}", cfs_directory_path(@file_group.cfs_directory), class: 'btn btn-default'
  %br