- submit_label = @file_group.new_record? ? 'Create File group' : 'Update File group'
-#Must pass form variable f
.col-sm-3
  %div
    %p= f.button :submit, :class => 'btn btn-primary', :value => submit_label
  %div
    %p
      - if @file_group.new_record?
        = link_to('Cancel', @collection, :class => 'btn btn-default')
      - else
        = link_to(t('.cancel', :default => t('helpers.links.cancel')), @file_group, :class => 'btn btn-default')
