- content_for :public_body do
  - if @directory = @file_group.cfs_directory
    = render 'cfs_directories/public_files'
  - else
    %p No files currently attached
- content_for :public_metadata do
  = render 'collections/public_metadata'
  %hr
  = render 'public_metadata'
= render 'shared/public_body'