- url = @note.new_record? ? file_format_notes_path(@file_format) : note_path(@note)
= render 'layouts/bootstrap_modal', id: 'modal_item_form' do
  = simple_form_for @note, url: url, remote: true, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
    .row
      = render 'form_sidebar', f: f, object: @note
      .col-sm-10
        = f.input :note