-# reshow create form
- if @do_another
  $("#add_item_button").trigger("click");
-# reload table
- table = render partial: 'projects/items_table'
$("#items_container").html("#{escape_javascript(table)}");
initialize_data_table('#items', {});
