%table#fixity_check_results.table.table-bordered.table-striped.table-condensed
  %caption Fixity Check History
  %thead
    %tr
      %th Date
      %th Status
  %tbody
    - @file.fixity_check_results.each do |fixity_check_result|
      %tr
        %td #{fixity_check_result.created_at.to_date}
        %td #{fixity_check_result.status}