- model_class = Producer

.page-header
  %h1
    %i.icon-pencil
    =t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}")

= render "form"