%p#producer-definition
  Any organization that manages digital files to be stored in Medusa and
  has oversight over digital collection management on behalf of a
  Repository.  This includes digital production units within the Library
  such as Digital Content Creation, as well as programs such as Brittle
  Books that manage digital files created by vendors.
  