%p#producer-definition
  Any organization that creates digital files stored in Medusa,
  especially those that specialize in the digitization of manuscripts,
  photographs, moving image and sound materials, and the creation
  of descriptive metadata. This includes digital production units
  within the Library such as
  Digital Content Creation and Content Access and Management,
  and vendors who provide digital reformatting services to Repositories.