%p#repository-definition
  Any organization that is responsible for general curatorial decisions related to
  the preservation of, access to, and rights status of collections of digital content
  in Medusa. This can be an archives, institutional repository, or departmental library,
  or any other such entity that stewards collections at the University of Illinois Library.
