:plain

There has been an error with your Amazon backup.

Please report to the Medusa development team for diagnosis and correction.

Amazon Backup ID: #{@amazon_backup.id}
Error message: #{@error_message}


