:plain

The following backup has completed:

#{@amazon_backup.glacier_description}

- if @workflow_ingest
  This is part of the automatic ingest of the file group '#{@workflow_ingest.bit_level_file_group.name}'
  from the collection '#{@workflow_ingest.bit_level_file_group.collection.title}'.
