:plain

The automatic ingest of the file group '#{@file_group.title}'
from the collection '#{@file_group.collection.title}'
into Medusa has been completed.

The staged content will be automatically deleted in 30 days.