:plain

The staged content of the file group '#{@file_group.title}'
from the collection '#{@file_group.collection.title}'
into Medusa has been deleted.

This does not affect the bit level preservation content, which is still present.