/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
*/

.dataTables_wrapper {
  padding: 5px 0px;
}

#file_stats_summary td {
  border-top: none;
}

#file_stats_summary th {
  text-align: right;
  border-top: none;
}

.file_stats_separator {
  background-color: #0088CC;
}

label.checkbox {
  max-width: 200px;
  padding: 2px;
  background-color: #d3d3d3;
  border-radius: 5px;
}