.nav-tabs { margin-bottom: 10px; }

.alert-danger .badge {
  background-color: #fff;
  border-color: #ebccd1;
  color: #a94442;
}

.dashboard-notification {
  color: red;
}

.accrual-job-conflict-indicator {
  border: 2px solid red;
  background-color: lightyellow;

}
