#storage-overview {
  table td {
    border: 1px solid black;
  }
  table th {
    border: 1px solid black;
  }
  td.value {
    text-align:  right;
  }
  .chart_container {
    min-width: 200px;
    height: 200px;
    margin:  0 auto;
  }
}