@import 'colors.css.less';

#global-navigation {
  .global-nav-row:first-child {
    background-color: @navbar-background-color;
  }
  .global-nav-row {
    padding: 0 50px;
    background-color: white;
  }
  .navbar-institutions {
    background-color: @navbar-institutions-background-color;
  }
  .navbar-repositories {
    background-color: @navbar-repositories-background-color;
  }
  .navbar-collections {
    background-color: @navbar-collections-background-color;
  }
  .navbar-file-groups {
    background-color: @navbar-file-groups-background-color;
  }
  .navbar-files {
    background-color: @navbar-files-background-color;
  }
}

#medusa-logo {
  margin-right: 100px;
}