@import 'variables';

$navbar-object-border: solid 7px;

#global-navigation {
  .global-nav-row:first-child {
    border-bottom: 3px solid #fa6300;
    background-color: white;
    padding-left: 15px;
  }
  .global-nav-row {
    padding: 0 50px;
    background-color: $mcolor__navbar-background;
    color: $mcolor__navbar-text;
    a:visited, a:link {
      color: $mcolor__navbar-link;
    }
  }
  .navbar-institutions {
    background-color: $mcolor__navbar-institutions-background;
    border-bottom: $navbar-object-border $mcolor__navbar-institutions-footer;
  }
  .navbar-repositories {
    background-color: $mcolor__navbar-repositories-background;
    border-bottom: $navbar-object-border $mcolor__navbar-repositories-footer;
  }
  .navbar-collections {
    background-color: $mcolor__navbar-collections-background;
    border-bottom: $navbar-object-border $mcolor__navbar-collections-footer;
  }
  .navbar-projects {
    background-color: $mcolor__navbar-projects-background;
    border-bottom: $navbar-object-border $mcolor__navbar-projects-footer;
  }
  .navbar-file-groups {
    background-color: $mcolor__navbar-file-groups-background;
    border-bottom: $navbar-object-border $mcolor__navbar-file-groups-footer;
  }
  .navbar-files {
    background-color: $mcolor__navbar-files-background;
    border-bottom: $navbar-object-border $mcolor__navbar-files-footer;
  }
}

#medusa-logo {
  margin-right: 150px;
}

.header-medusa-text {
  font-family: Garamond, "Times New Roman", Times, Serif;
  font-size: 45px;
  color: $color__official_blue;
  vertical-align: middle;
}