-# pass id if you want to assign it and html_class for additional classes. Inside the layout give the modal-header, modal-body, modal-footer as needed
- id ||= nil
- html_class ||= nil
.modal{id: id, tabindex: -1, role: 'dialog', class: [html_class, ('fade' unless Rails.env.test?)]}
  .modal-dialog
    .modal-content
      = yield